body{
    padding: auto;
    background-color: #636B2F;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 20px;
    margin: 0;
}

.ebene {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 100px 0 100px;
    gap: 10px;
}

.calculatorField{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

input{
    width: 40vw;
    height: 5vh;
    background-color: black;
    color: white;
    font-size: 30px;
}

.button{
    width: 86px;
    height: 86px;
    border-radius: 50px;
    background-color: rgb(0, 0, 128);
    border-color: rgb(0, 0, 128);
    border-width: 5px;
    font-size: 48px;
}
